<?xml version="1.0" encoding="utf-8" ?>

<DateListConfig configType="CoP.Configuration.DateListConfig, CoP.Enterprise.Utilities ">
  <DateLists>
    <DateList listName="Federal">
      <ListDates>
        <ListDate date="1 jan 2015"  name="New Year’s Day" />
        <ListDate date="19 jan 2015" name="Martin Luther King" />
        <ListDate date="16 feb 2015" name="Washington’s Birthday" />
        <ListDate date="25 may 2015" name="Memorial Day" />
        <ListDate date="3 jul 2015"  name="Independence Day" />
        <ListDate date="7 sep 2015"  name="Labor Day" />
        <ListDate date="12 oct 2015" name="Columbus Day" />
        <ListDate date="11 nov 2015" name="Veterans Day" />
        <ListDate date="26 nov 2015" name="Thanksgiving Day" />
        <ListDate date="25 dec 2015" name="Christmas Day" />

        <ListDate date="1 jan 2016" name="New Year’s Day" />
        <ListDate date="19 jan 2016" name="Martin Luther King" />
        <ListDate date="16 feb 2016" name="Washington’s Birthday" />
        <ListDate date="25 may 2016" name="Memorial Day" />
        <ListDate date="3 jul 2016" name="Independence Day" />
        <ListDate date="7 sep 2016" name="Labor Day" />
        <ListDate date="12 oct 2016" name="Columbus Day" />
        <ListDate date="11 nov 2016" name="Veterans Day" />
        <ListDate date="26 nov 2016" name="Thanksgiving Day" />
        <ListDate date="25 dec 2016" name="Christmas Day" />

        <ListDate date="1 jan 2017" name="New Year’s Day" />
        <ListDate date="16 jan 2017" name="Martin Luther King" />
        <ListDate date="20 feb 2017" name="Washington’s Birthday" />
        <ListDate date="29 may 2017" name="Memorial Day" />
        <ListDate date="4 jul 2017" name="Independence Day" />
        <ListDate date="4 sep 2017" name="Labor Day" />
        <ListDate date="9 oct 2017" name="Columbus Day" />
        <ListDate date="10 nov 2017" name="Veterans Day" />
        <ListDate date="23 nov 2017" name="Thanksgiving Day" />
        <ListDate date="25 dec 2017" name="Christmas Day" />

        <ListDate date="1 jan 2018" name="New Year’s Day" />
        <ListDate date="15 jan 2018" name="Martin Luther King" />
        <ListDate date="19 feb 2018" name="Washington’s Birthday" />
        <ListDate date="28 may 2018" name="Memorial Day" />
        <ListDate date="4 jul 2018" name="Independence Day" />
        <ListDate date="3 sep 2018" name="Labor Day" />
        <ListDate date="8 oct 2018" name="Columbus Day" />
        <ListDate date="11 nov 2018" name="Veterans Day" />
        <ListDate date="22 nov 2018" name="Thanksgiving Day" />
        <ListDate date="25 dec 2018" name="Christmas Day" />

        <ListDate date="1 jan 2019" name="New Year’s Day" />
        <ListDate date="21 jan 2019" name="Martin Luther King" />
        <ListDate date="18 feb 2019" name="Washington’s Birthday" />
        <ListDate date="27 may 2019" name="Memorial Day" />
        <ListDate date="4 jul 2019" name="Independence Day" />
        <ListDate date="2 sep 2019" name="Labor Day" />
        <ListDate date="14 oct 2019" name="Columbus Day" />
        <ListDate date="11 nov 2019" name="Veterans Day" />
        <ListDate date="28 nov 2019" name="Thanksgiving Day" />
        <ListDate date="25 dec 2019" name="Christmas Day" />

        <ListDate date="1 jan 2020" name="New Year’s Day" />
        <ListDate date="20 jan 2020" name="Martin Luther King" />
        <ListDate date="17 feb 2020" name="Washington’s Birthday" />
        <ListDate date="25 may 2020" name="Memorial Day" />
        <ListDate date="4 jul 2020" name="Independence Day" />
        <ListDate date="7 sep 2020" name="Labor Day" />
        <ListDate date="12 oct 2020" name="Columbus Day" />
        <ListDate date="11 nov 2020" name="Veterans Day" />
        <ListDate date="26 nov 2020" name="Thanksgiving Day" />
        <ListDate date="25 dec 2020" name="Christmas Day" />

        <ListDate date="1 jan 2021" name="New Year’s Day" />
        <ListDate date="18 jan 2021" name="Martin Luther King" />
        <ListDate date="15 feb 2021" name="Washington’s Birthday" />
        <ListDate date="25 may 2021" name="Memorial Day" />
        <ListDate date="5 jul 2021" name="Independence Day" />
        <ListDate date="6 sep 2021" name="Labor Day" />
        <ListDate date="11 oct 2021" name="Columbus Day" />
        <ListDate date="11 nov 2021" name="Veterans Day" />
        <ListDate date="25 nov 2021" name="Thanksgiving Day" />
        <ListDate date="24 dec 2021" name="Christmas Day" />

        <ListDate date="1 jan 2022" name="New Year’s Day" />
        <ListDate date="17 jan 2022" name="Martin Luther King" />
        <ListDate date="21 feb 2022" name="Washington’s Birthday" />
        <ListDate date="30 may 2022" name="Memorial Day" />
        <ListDate date="4 jul 2022" name="Independence Day" />
        <ListDate date="5 sep 2022" name="Labor Day" />
        <ListDate date="10 oct 2022" name="Columbus Day" />
        <ListDate date="11 nov 2022" name="Veterans Day" />
        <ListDate date="24 nov 2022" name="Thanksgiving Day" />
        <ListDate date="26 dec 2022" name="Christmas Day" />

        <ListDate date="1 jan 2024" name="New Year’s Day" />
        <ListDate date="16 jan 2024" name="Martin Luther King" />
        <ListDate date="20 feb 2024" name="Washington’s Birthday" />
        <ListDate date="29 may 2024" name="Memorial Day" />
        <ListDate date="4 jul 2024" name="Independence Day" />
        <ListDate date="4 sep 2024" name="Labor Day" />
        <ListDate date="9 oct 2024" name="Columbus Day" />
        <ListDate date="10 nov 2024" name="Veterans Day" />
        <ListDate date="23 nov 2024" name="Thanksgiving Day" />
        <ListDate date="25 dec 2024" name="Christmas Day" />

	    <ListDate date="1 jan 2024" name="New Year’s Day" />
	    <ListDate date="15 jan 2024" name="Martin Luther King" />
	    <ListDate date="19 feb 2024" name="Washington’s Birthday" />
	    <ListDate date="27 may 2024" name="Memorial Day" />
	    <ListDate date="4 jul 2024" name="Independence Day" />
	    <ListDate date="2 sep 2024" name="Labor Day" />
	    <ListDate date="14 oct 2024" name="Columbus Day" />
	    <ListDate date="11 nov 2024" name="Veterans Day" />
	    <ListDate date="28 nov 2024" name="Thanksgiving Day" />
	    <ListDate date="25 dec 2024" name="Christmas Day" />

	      <ListDate date="1 jan 2025" name="New Year’s Day" />
	      <ListDate date="20 jan 2025" name="Martin Luther King" />
	      <ListDate date="17 feb 2025" name="Washington’s Birthday" />
	      <ListDate date="26 may 2025" name="Memorial Day" />
	      <ListDate date="4 jul 2025" name="Independence Day" />
	      <ListDate date="1 sep 2025" name="Labor Day" />
	      <ListDate date="13 oct 2025" name="Columbus Day" />
	      <ListDate date="11 nov 2025" name="Veterans Day" />
	      <ListDate date="27 nov 2025" name="Thanksgiving Day" />
	      <ListDate date="25 dec 2025" name="Christmas Day" />

	      <ListDate date="1 jan 2026" name="New Year’s Day" />
	      <ListDate date="19 jan 2026" name="Martin Luther King" />
	      <ListDate date="16 feb 2026" name="Washington’s Birthday" />
	      <ListDate date="25 may 2026" name="Memorial Day" />
	      <ListDate date="4 jul 2026" name="Independence Day" />
	      <ListDate date="7 sep 2026" name="Labor Day" />
	      <ListDate date="12 oct 2026" name="Columbus Day" />
	      <ListDate date="11 nov 2026" name="Veterans Day" />
	      <ListDate date="26 nov 2026" name="Thanksgiving Day" />
	      <ListDate date="25 dec 2026" name="Christmas Day" />

	  </ListDates> 
    </DateList>

	  <DateList listName="Thanksgiving">
		  <ListDates>
			  <ListDate date="25 nov 2015" name="Thanksgiving Day" />

			  <ListDate date="25 nov 2016" name="Thanksgiving Day" />

			  <ListDate date="22 nov 2017" name="Thanksgiving Day" />

			  <ListDate date="21 nov 2018" name="Thanksgiving Day" />

			  <ListDate date="27 nov 2019" name="Thanksgiving Day" />

			  <ListDate date="25 nov 2020" name="Thanksgiving Day" />

			  <ListDate date="24 nov 2021" name="Thanksgiving Day" />

			  <ListDate date="23 nov 2022" name="Thanksgiving Day" />

			  <ListDate date="22 nov 2023" name="Thanksgiving Day" />

			  <ListDate date="27 nov 2024" name="Thanksgiving Day" />

			  <ListDate date="26 nov 2025" name="Thanksgiving Day" />

			  <ListDate date="25 nov 2026" name="Thanksgiving Day" />
		  </ListDates>
	  </DateList>


	  <DateList listName="NERC">
      <ListDates>
        <ListDate date="1 jan 2010" name="New Year’s Day" />
        <ListDate date="31 may 2010" name="Memorial Day" />
        <ListDate date="5 jul 2010" name="Independence Day" />
        <ListDate date="6 sep 2010" name="Labor Day" />
        <ListDate date="11 oct 2010" name="Columbus Day" />
        <ListDate date="25 nov 2010" name="Thanksgiving Day" />
        <ListDate date="25 dec 2010" name="Christmas Day" />

        <ListDate date="1 jan 2011" name="New Year’s Day" />
        <ListDate date="30 may 2011" name="Memorial Day" />
        <ListDate date="4 jul 2011" name="Independence Day" />
        <ListDate date="5 sep 2011" name="Labor Day" />
        <ListDate date="24 nov 2011" name="Thanksgiving Day" />
        <ListDate date="25 dec 2011" name="Christmas Day" />
        <ListDate date="26 dec 2011" name="Christmas Day" />

        <ListDate date="2 jan 2012" name="New Year’s Day" />
        <ListDate date="28 may 2012" name="Memorial Day" />
        <ListDate date="4 jul 2012" name="Independence Day" />
        <ListDate date="3 sep 2012" name="Labor Day" />
        <ListDate date="22 nov 2012" name="Thanksgiving Day" />
        <ListDate date="25 dec 2012" name="Christmas Day" />

        <ListDate date="1 jan 2013" name="New Year’s Day" />
        <ListDate date="27 may 2013" name="Memorial Day" />
        <ListDate date="4 jul 2013" name="Independence Day" />
        <ListDate date="2 sep 2013" name="Labor Day" />
        <ListDate date="11 nov 2013" name="Veterans Day" />
        <ListDate date="28 nov 2013" name="Thanksgiving Day" />
        <ListDate date="25 dec 2013" name="Christmas Day" />

        <ListDate date="1 jan 2014" name="New Year’s Day" />
        <ListDate date="26 may 2014" name="Memorial Day" />
        <ListDate date="4 jul 2014" name="Independence Day" />
        <ListDate date="1 sep 2014" name="Labor Day" />
        <ListDate date="27 nov 2014" name="Thanksgiving Day" />
        <ListDate date="25 dec 2014" name="Christmas Day" />

        <ListDate date="1 jan 2015" name="New Year’s Day" />
        <ListDate date="25 may 2015" name="Memorial Day" />
        <ListDate date="4 jul 2015" name="Independence Day" />
        <ListDate date="7 sep 2015" name="Labor Day" />
        <ListDate date="26 nov 2015" name="Thanksgiving Day" />
        <ListDate date="25 dec 2015" name="Christmas Day" />
      </ListDates>
    </DateList>
</DateLists>
</DateListConfig>