<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="isTest" value="true"/>
  <add key="ScenarioFolder" value="D:\Arete\CoP\StormWater\testData"/>
  <add key="CalculatorAssembly" value="BES.SWMM.PAC.PACSizingEngine.dll"/>
  <add key="ValidatorClass" value="BES.SWMM.PAC.Validator"/>
  <add key="SlopedFacilityCalculator" value="BES.SWMM.PAC.SlopedFacilityCalculator"/>
  <add key="RectBasinCalculator" value="BES.SWMM.PAC.RectBasinCalculator"/>
  <add key="FlatPlanterCalculator" value="BES.SWMM.PAC.FlatPlanterCalculator"/>
  <add key="AmoebaCalculator" value="BES.SWMM.PAC.AmoebaCalculator"/>
  <add key="UserDefinedCalculator" value="BES.SWMM.PAC.UserDefinedCalculator"/>
</appSettings>