<?xml version="1.0" encoding="utf-8" ?>
<PACConfig configType="BES.SWMM.PAC.PACConfig, BES.SWMM.PAC.DomainModel" >

  <VersionInfo pacVersion="" qaReleaseDate="2020-04-13" prodReleaseDate="2020-05-22"/>
  <EngineSettings 
    timeStepMinutes="10" 
    mediaPorosity="0.1" 
    infiltrationRate ="6.0"
    flowControlRequired =" true" 
    orificeCoefficient =" 0.6"
    rainfallTimesteps="200"
    maxTimesteps="433"
    headAverageLookbackTimesteps="5" />

 <!--
  <DesignStorms>
    <DesignStorm name="Water Quality" code="dsWQ" totalRainfallInches="1.61" />
    <DesignStorm name="Half Two Year" code="dsH2" totalRainfallInches="1.2" />
    <DesignStorm name="Two Year" code="ds2" totalRainfallInches="2.4" />
    <DesignStorm name="Five year" code="ds5" totalRainfallInches="2.9" />
    <DesignStorm name="Ten Year" code="ds10" totalRainfallInches="3.4" />
    <DesignStorm name="25 Year" code="ds25" totalRainfallInches="3.8" />
  </DesignStorms>
  -->

</PACConfig>